<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Citas medicas</title>
    <link href="../static/css/vista.css" th:href="@{/css/vista.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
</head>
<body>
<div id="div1">
    <h1> Citas Medicas <img src="/images/estetoscopio.png" th:src="@{/images/estetoscopio.png}" id="img3"></h1>
</div>
<div id="div2">
    <nav>
        <ul>
            <a href="/vista"><img src="/images/calendario.png" th:src="@{/images/calendario.png}" id="img1"></a>
            <a href="/calendario"><img src="/images/calendariover.png" th:src="@{/images/calendariover.png}" id="img2"></a>
        </ul>
    </nav>
</div>
<h3> Agendar Cita:</h3>
<div id="div3">
<form  action="/add" method="post" value="${cita}" class="f">
    <br>
   <span> Medico:</span>
    <br>
    <select name="nombre" id="sel">
        <option>Dr. Fernandez-General</option>
        <option>Dr. Herrera-General</option>
        <option>Dr. Gutierrez-Cardiologo</option>
        <option>Dra. Gonzales-Pediatra</option>
        <option>Dr. Garcia-Gastrointerologo</option>
        <option>Dra. Duarte-Ginecologa</option>
    </select>
    <br>
    <br>
    <span>Asunto:</span>
    <br>
    <input type="textarea" name="asunto" id="asunto">
    <br>
    <br>
    <span>Fecha:</span>
    <br>
    <input type="Date" date="fecha" id="fecha" name="fecha"/>
    <br>
    <br>
    <span>Hora:</span>
    <br>
    <input type="time" name="hora" value="11:45:00" max="22:30:00" min="10:00:00" step="1" id="hora" >
    <br>
    <br>
    <input type="submit" value="Agendar" id="boton"/>
    <br>
    <br>
</form>
</div>
</body>
</html>